body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 20px 60px 20px 60px;
}

.header > p {
  font-size: 24px;
  color: #f9faf8;
}

.header > .header-links {
  display: flex;
  gap: 25px;
}

.header > .header-links > a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.section-1 {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px 60px 60px 60px;
}

.section-1-left > button {
  color: #f9faf8;
  border-radius: 5px;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #3882f6;
  border: none;
}

.section-1-right {
  width: 45%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.section-1 > .section-1-left > h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.section-1 > .section-1-left > p {
  font-size: 18px;
  color: #e5e7eb;
}

.section-2 {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 60px 60px;
  justify-content: center;
  align-items: center;
}

.section-2 > h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.section-2 > .section-2-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-2 > .section-2-grid > .img-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-2 > .section-2-grid > .img-row > .img-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.section-2 > .section-2-grid > .img-row > .img-subtext > .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.section-3 {
  display: flex;
  flex-direction: column;
  padding: 80px 60px 80px 60px;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.section-3 p {
text-align: end;
}

.section-4 {
  padding: 80px 60px 80px 60px;
  text-align: center;
}

.section-4 > .section-4-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  gap: 100px;
  color: #f9faf8;
}
